
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.name }}'s CV" />
  <link href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/cv.css" rel="stylesheet">

</head>

<div class="cv-container">
  <div class="row cv-masthead cv-section">
    <div class="col-xs-6 col-sm-6">
      <ul class="list-unstyled" style="margin-bottom: 0">
        <li>
          <h1 class="cv-name">{{ site.data.cv.name }}</h1>
        </li>
        <li>
          <span class="profession"><i>{{ site.data.cv.description }}</i></span>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-6">
      <ul class="list-unstyled cv-contacts" style="text-align: right;">
        <li>
          <a href="mailto:{{ site.data.cv.email }}">{{ site.data.cv.email }}</a>
        </li>
        <li>
          <a href="https://{{ site.data.cv.url }}">https://{{ site.data.cv.url }}</a>
        </li>
        {% if site.data.cv.phone %}
        <li>
          {{ site.data.cv.phone }}
        </li>
        {% endif%}
        <!-- <li>
          <a href="https://github.com/{{site.data.cv.github}}">{{ site.data.cv.github }}</a> <i class="fa fa-github"></i>
        </li> -->
      </ul>
    </div>
  </div>

  <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Education</h2>
    </div>
    <div class="col-xs-12">

      {% for item in site.data.cv.education %}
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            {% for degree in item.degrees %}
              <h3>{{ degree }}</h3>
            {% endfor %}
            <i>{{ item.school }}</i>
          </div>
          <div class="col-xs-6 col-sm-6 cv-dates-and-loc" style="text-align: right;">
            {% for dates in item.dates %}
              <h5><span class="avoidwrap">{{ dates.start }}</span>
              <span class="avoidwrap">– {{ dates.end }}</span></h5>
            {% endfor %}
            <i>{{ item.location }}</i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>{{ item.summary }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Research</h2>
    </div>

    <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-9 col-sm-9">
            <h3>Publications</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="cv-summary">
              {% for publication in site.data.publications %}
                <li>
                    {% for name in publication.authors %}{% if name == publication.my_name %}<strong>{{ name }}</strong>{% else %}{{ name }}{% endif %}, {% endfor %}"<em>{{ publication.title }}</em>." {{ publication.venue }}</li>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% for item in site.data.cv.research %}
        <div class="row">
          <div class="col-xs-9 col-sm-9">
            <h3>{{ item.brief }}</h3>
            <i>{{ item.institution }}</i>
          </div>
          <div class="col-xs-3 col-sm-3 cv-dates-and-loc" style="text-align: right;">
            <h5><span class="avoidwrap">{{ item.start_date }}</span>
            <span class="avoidwrap">– {{ item.end_date }}</span></h5>
            <i>{{ item.location }}</i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="cv-summary">
            {% for summand in item.summary %}
              <li>{{ summand }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Technical Skills</h2>
    </div>
    <div class="col-xs-12">

      <h3>Languages and Tools</h3>
      <ul class="cv-summary">
        <li>Proficient: {{site.data.cv.languages.proficient[0]}}{% for item in site.data.cv.languages.proficient offset:1 %}, {{ item }}{% endfor %}</li>
        <li>Working knowledge: {{site.data.cv.languages.working[0]}}{% for item in site.data.cv.languages.working offset:1 %}, {{ item }}{% endfor %}</li>
      </ul>

    </div>
  </div>

  <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Work</h2>
    </div>
    <div class="col-xs-12">
      {% for item in site.data.cv.experience %}
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <h3>{{ item.position }}</h3>
            <i>{{item.company}}</i>
          </div>
          <div class="col-xs-6 col-sm-6 cv-dates-and-loc" style="text-align: right;">
            <h5><span class="avoidwrap">{{ item.start_date }}</span>
            <span class="avoidwrap">– {{ item.end_date }}</span></h5>
            <i>{{ item.location }}</i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="cv-summary">
            {% for summand in item.summary %}
              <li>{{ summand }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Research Projects</h2>
    </div>
    <div class="col-xs-12">
      {% for item in site.data.cv.projects %}
        <div class="row">
          <div class="col-xs-12">
            <h3>{{ item.brief }}</h3>
            <ul class="cv-summary">
            {% for summand in item.summary %}
              <li>{{ summand }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div> -->

  <div class="row cv-section">
    <div class="col-xs-12">
      <h2 class="cv-section-header">Teaching</h2>
    </div>
    <div class="col-xs-12">
      {% for item in site.data.cv.teaching %}
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <h3>{{ item.position }}</h3>
            <i>{{ item.institution }}</i>
          </div>
          <div class="col-xs-6 col-sm-6 cv-dates-and-loc" style="text-align: right;">
            <h5><span class="avoidwrap">{{ item.start_date }}</span>
            <span class="avoidwrap">– {{ item.end_date }}</span></h5>
            <i>{{ item.location }}</i>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <ul class="cv-summary">
            {% for summand in item.summary %}
              <li>{{ summand }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
